trunk/Rupban.ServiceAgent/Service References/RupbanBoardService/RupbanBoardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Code.google.com/p/rupbanboard" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Code.google.com/p/rupbanboard" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Code.google.com/p/rupbanboard/Imports">
      <xsd:import schemaLocation="http://localhost/Rupban.Service.Host/RupbanBoardService.svc?xsd=xsd0" namespace="http://Code.google.com/p/rupbanboard" />
      <xsd:import schemaLocation="http://localhost/Rupban.Service.Host/RupbanBoardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Rupban.Service.Host/RupbanBoardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rupban.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRupbanBoardService_MoveTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveTicket" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_MoveTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_ViewTicketHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewTicketHistory" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_ViewTicketHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewTicketHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_GetCurrentProjectList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentProjectList" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_GetCurrentProjectList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentProjectListResponse" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_GetTemplateCollumList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateCollumList" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_GetTemplateCollumList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateCollumListResponse" />
  </wsdl:message>
  <wsdl:message name="IRupbanBoardService_TicketMoved_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TicketMoved" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IRupbanBoardService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="MoveTicket">
      <wsdl:input wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/MoveTicket" message="tns:IRupbanBoardService_MoveTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/MoveTicketResponse" message="tns:IRupbanBoardService_MoveTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/Subscribe" message="tns:IRupbanBoardService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/SubscribeResponse" message="tns:IRupbanBoardService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/Unsubscribe" message="tns:IRupbanBoardService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/UnsubscribeResponse" message="tns:IRupbanBoardService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ViewTicketHistory">
      <wsdl:input wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/ViewTicketHistory" message="tns:IRupbanBoardService_ViewTicketHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/ViewTicketHistoryResponse" message="tns:IRupbanBoardService_ViewTicketHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCurrentProjectList">
      <wsdl:input wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/GetCurrentProjectList" message="tns:IRupbanBoardService_GetCurrentProjectList_InputMessage" />
      <wsdl:output wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/GetCurrentProjectListResponse" message="tns:IRupbanBoardService_GetCurrentProjectList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTemplateCollumList">
      <wsdl:input wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/GetTemplateCollumList" message="tns:IRupbanBoardService_GetTemplateCollumList_InputMessage" />
      <wsdl:output wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/GetTemplateCollumListResponse" message="tns:IRupbanBoardService_GetTemplateCollumList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TicketMoved">
      <wsdl:output wsaw:Action="http://Code.google.com/p/rupbanboard/IRupbanBoardService/TicketMoved" message="tns:IRupbanBoardService_TicketMoved_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>