trunk/Rupban.ServiceAgent/Service References/RupbanBoardService/RupbanBoardService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Code.google.com/p/rupbanboard" elementFormDefault="qualified" targetNamespace="http://Code.google.com/p/rupbanboard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MoveTicket">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TicketMoved">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>