trunk/Rupban.ServiceAgent/Service References/RupbanBoardService/RupbanBoardService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rupban.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rupban.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Rupban.Service.Host/RupbanBoardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="Board" nillable="true" type="tns:Board" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="Board">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Board" nillable="true" type="tns:Board" />
  <xs:complexType name="ArrayOfTemplateColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateColumn" nillable="true" type="tns:TemplateColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateColumn" nillable="true" type="tns:ArrayOfTemplateColumn" />
  <xs:complexType name="TemplateColumn">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="_templateRows" nillable="true" type="tns:ArrayOfTemplateRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateColumn" nillable="true" type="tns:TemplateColumn" />
  <xs:complexType name="ArrayOfTemplateRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateRow" nillable="true" type="tns:TemplateRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateRow" nillable="true" type="tns:ArrayOfTemplateRow" />
  <xs:complexType name="TemplateRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="_templateCells" nillable="true" type="tns:ArrayOfTemplateCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateRow" nillable="true" type="tns:TemplateRow" />
  <xs:complexType name="ArrayOfTemplateCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateCell" nillable="true" type="tns:TemplateCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateCell" nillable="true" type="tns:ArrayOfTemplateCell" />
  <xs:complexType name="TemplateCell">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateCell" nillable="true" type="tns:TemplateCell" />
  <xs:complexType name="Ticket">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TemplateCell">
        <xs:sequence>
          <xs:element minOccurs="0" name="Priority" type="tns:TicketPriority" />
          <xs:element minOccurs="0" name="Status" type="tns:TicketStatus" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:simpleType name="TicketPriority">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low" />
      <xs:enumeration value="Hight">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TicketPriority" nillable="true" type="tns:TicketPriority" />
  <xs:simpleType name="TicketStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InBackBlog" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Done" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TicketStatus" nillable="true" type="tns:TicketStatus" />
</xs:schema>